{% extends "base.html" %}

{% block title %}Thermal View | Dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='thermal.css') }}"></link>

<div class="substation-data-overview">
    <div class="thermal-grid">
        <div class="card thermal-image-card">
            <div class="card-top">
                <img class="card-label" src="{{ url_for('static', filename='img/Substation-Room.svg') }}"/>
            </div>
            <div class="card-divider"></div>
                <img
                id="thermal-image"
                class="thermal-img"
                src="{% if latest_image %}{{ url_for('main.uploaded_file', filename=latest_image.filename) }}{% endif %}"
                alt=""/>
        </div>
        <div class="card thermal-info-card">
            <div class="card-top">
                <div class="card-title">
                    <img class="card-label" src="{{ url_for('static', filename='img/MAX-TEMP.svg') }}"/>
                </div>
            </div>
            <div class="card-divider"></div>
            <div class="card-cols">
                <div class="card-col">
                    <div class="card-value good">
                        <span id="thermal-max-temp">--</span><span class="unit">°C</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card thermal-info-card">
            <div class="card-top">
                <div class="card-title">
                    <img class="card-label" src="{{ url_for('static', filename='img/AVERAGE-TEMP.svg') }}"/>
                </div>
            </div>
            <div class="card-divider"></div>
            <div class="card-cols">
                <div class="card-col">
                    <div class="card-value good">
                        <span id="thermal-average-temp">--</span><span class="unit">°C</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card thermal-info-card">
            <div class="card-top">
                <div class="card-title">
                    <img class="card-label" src="{{ url_for('static', filename='img/MIN-TEMP.svg') }}"/>
                </div>
            </div>
            <div class="card-divider"></div>
            <div class="card-cols">
                <div class="card-col">
                    <div class="card-value good">
                        <span id="thermal-min-temp">--</span><span class="unit">°C</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card thermal-info-card">
            <div class="card-top">
                <div class="card-title">
                    <img class="card-label" src="{{ url_for('static', filename='img/ANOMALIES.svg') }}"/>
                </div>
            </div>
            <div class="card-divider"></div>
            <div class="card-cols">
                <div class="card-col">
                    <div class="card-value good">
                        <span id="anomalies_count">--</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="thermal-table-container">
        <div class="thermal-title"></div>

        <table class="thermal-table">
        <thead>
            <tr>
            <th class="card-col-label">THERMAL IMAGE</th> <!--Change CSS class later-->
            <th class="card-col-label">DATE & TIME</th> <!--Change CSS class later-->
            </tr>
        </thead>
        <tbody id="image-table">
            <!---------- Table will be populated with data from InfluxDB. ----------->
            {% for row in recent_images %}
            <tr>
                <td>
                    <a href="{{ url_for('main.uploaded_file', filename=row.filename) }}" target="_blank">
                        {{ row.filename }}
                    </a>
                </td>
                <td>{{ row.time }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="2">No thermal images found.</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<script>
    window.THERMAL_CONFIG = {
        eventsUrl: "{{ url_for('main.events') }}",
        imageUrlTemplate: "{{ url_for('main.uploaded_file', filename='__FILENAME__') }}",
    };
</script>
<script src="{{ url_for('static', filename='thermal.js')}}"></script>
{% endblock %}
